:root {
  user-select: none;
  font-family: "JetBrains Mono";
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background-primary);
}
